.star-container{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.star-rating{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-size: contain;
    background-color: white;
    transition: background-color .2s ease-in-out;
}
