.star-container {
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.star-rating {
    height: 100px;
    width: 100px;
    transition: background-color .2s ease-in-out;
    background-image: url("../images/staroff.svg");
    background-size: contain;    
}

.hoverimg{
    background-image: url("../images/staron.svg");
    background-size: contain;
}

.starON {
    background-image: url("../images/staron.svg");
    background-size: contain;
}